@model IEnumerable<CompanyProject.Data.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h1>Employees</h1>

<p>
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AddEmployee">Add Employee</a>
</p>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-auto col-md-auto">
                <div class="card card-box p-5">
                    <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image" width="100px"></div>
                    <div class="card-body">
                        <div class="d-flex">
                            <p class="card-text">Surname</p>
                            <p class="card-text ps-3">Mielke</p>
                        </div>
                        <div class="d-flex">
                            <p class="card-text">Name</p>
                            <p class="card-text ps-3">Dawid</p>
                        </div>
                        <div class="d-flex">
                            <p class="card-text">Email</p>
                            <p class="card-text ps-3">dawidmielke.tri@gmail.com	</p>
                        </div>
                        <div class="d-flex">
                            <p class="card-text">UserName</p>
                            <p class="card-text ps-3">dawidmielke.tri@gmail.com	</p>
                        </div>
                        <div class="d-flex">
                            <p class="card-text">Birth</p>
                            <p class="card-text ps-3">10.01.2023 16:43:00	</p>
                        </div>
                    </div>
                    <div class="card-body d-flex justify-content-center">
                        @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <img width="30px" src="data:image/png;base64, @Html.DisplayFor(modelItem => item.Image)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birth)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-auto col-md-auto">
                @foreach (var item in Model)
                    {
                        <div class="card card-box p-5">
                            <div class="thumb-lg member-thumb mx-auto"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" class="rounded-circle img-thumbnail" alt="profile-image" width="100px"></div>
                            <div class="card-body">
                                <div class="d-flex">
                                    @Html.DisplayFor(modelItem => item.Surname)
                                </div>
                                <div class="d-flex">
                                    <p class="card-text">Name</p>
                                    <p class="card-text ps-3">Dawid</p>
                                </div>
                                <div class="d-flex">
                                    <p class="card-text">Email</p>
                                    <p class="card-text ps-3">dawidmielke.tri@gmail.com	</p>
                                </div>
                                <div class="d-flex">
                                    <p class="card-text">UserName</p>
                                    <p class="card-text ps-3">dawidmielke.tri@gmail.com	</p>
                                </div>
                                <div class="d-flex">
                                    <p class="card-text">Birth</p>
                                    <p class="card-text ps-3">10.01.2023 16:43:00	</p>
                                </div>
                            </div>
                            <div class="card-body d-flex justify-content-center">
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> 
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                                <a asp-action="DeleteUser" asp-route-id="@item.Id">Delete</a>
                            </div>
                        </div>
                    }
                </div>
        </div>
    </div>
</div>