@model IEnumerable<CompanyProject.Data.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}

<link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

<div class="content">
    <div class="container">
        <h1>Employees</h1>
        <p>
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AddEmployee"><i class="bi bi-person-plus-fill plus-icon"></i> Add Employee</a>
        </p>
        <form asp-controller="Home" asp-action="Employees" method="get">
            <p>
                Name: <input type="text" name="SearchString" />
                <input class="btn btn-dark" type="submit" value="Filter" />
            </p>
        </form>
        <div class=" ">
            <div class="col-12 col-sm-8 col-lg-6" style="display: grid; grid-template-columns: repeat(4, 1fr)">
                @foreach (var item in Model)
                {
                    <div class="col-lg-auto col-md-auto">
                        <div class="card card-box p-5">
                            <div class="thumb-lg member-thumb mx-auto"><img width="100px" style="border-radius: 50%" src="data:image/png;base64, @Html.DisplayFor(modelItem => item.Image)" /></div>
                            <div class="card-body">
                                <div class="d-flex">
                                    <p class="card-text">@Html.DisplayNameFor(model => model.Surname)</p>
                                    <p class="card-text ps-3">@Html.DisplayFor(modelItem => item.Surname)</p>
                                </div>
                                <div class="d-flex">
                                    <p class="card-text">@Html.DisplayNameFor(model => model.Name)</p>
                                    <p class="card-text ps-3">@Html.DisplayFor(modelItem => item.Name)</p>
                                </div>
                                <div class="d-flex">
                                    <p class="card-text">@Html.DisplayNameFor(model => model.Email)l</p>
                                    <p class="card-text ps-3">@Html.DisplayFor(modelItem => item.Email)</p>
                                </div>
                                <div class="d-flex">
                                    <p class="card-text">@Html.DisplayNameFor(model => model.UserName)</p>
                                    <p class="card-text ps-3">@Html.DisplayFor(modelItem => item.UserName)</p>
                                </div>
                                <div class="d-flex">
                                    <p class="card-text">@Html.DisplayNameFor(model => model.Birth)</p>
                                    <p class="card-text ps-3">@Html.DisplayFor(modelItem => item.Birth)</p>
                                </div>
                            </div>
                            <div class="card-body d-flex justify-content-center">
                                <span class="d-flex">
                                    <a class="link-blue ps-3" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pen"></i> Edit</a>
                                </span>
                                <span class="d-flex">
                                    <a class="link-black ps-3" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-info-lg"></i> Details</a>
                                </span>
                                <span class="d-flex">
                                    <a class="link-red ps-3" asp-action="DeleteUser" asp-route-id="@item.Id"><i class="bi bi-trash"></i> Delete</a>
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>